<div id="deleteChatPopup" style= "position: absolute; border-style:solid; border-color: lightgray; left: 30%; top: 25%; background-color:white; height: 13.6em; width:30em; border-radius:1.3em;
padding-bottom:2em; padding-top:0.5em; z-index: 10;">

<div style="border-style: solid; border-color: lightgray; border-top: none; border-left: none; border-right: none; padding-top: 0.7em;
text-align: center; padding-bottom: 0.7em; font-size:1.2em; padding-left: 1em; padding-right: 1em;">
    <p>Delete chat?</p>
    <p style="font-size:0.4em; color: gray;">The other member(s) of this chat will still see the messages unless they delete the chat as well.
    If you decide to remessage them and it isn't so that every member has deleted the chat, you will have regained access to this convo's messages.</p>
</div>

<div (click)="deleteChat()" style="border-style: solid; border-color: lightgray; border-top: none; border-left: none; border-right: none; padding-top: 0.2em;
text-align: center; padding-bottom: 0.4em; color: red; cursor: pointer">
    <p>Delete</p>
</div>

<div (click)="cancelDeleteChat()" style="padding-top: 0.4em; text-align: center; padding-bottom: 0.4em; cursor: pointer">
    <p>Cancel</p>
</div>

</div>