<div style= "position: absolute; border-style:solid; border-color: lightgray; left: 30%; top: 25%; background-color:white; height: 11.6em; width:30em; border-radius:1.3em;
padding-bottom:2em; padding-top:0.5em;">

<div style="border-style: solid; border-color: lightgray; border-top: none; border-left: none; border-right: none; padding-top: 0.7em;
text-align: center; padding-bottom: 0.7em; font-size:1.2em;">
    <p>Permanently delete chat?</p>
</div>

<div (click)="deleteChat()" style="border-style: solid; border-color: lightgray; border-top: none; border-left: none; border-right: none; padding-top: 0.2em;
text-align: center; padding-bottom: 0.4em; color: red; cursor: pointer">
    <p>Delete</p>
</div>

<div (click)="cancelDeleteChat()" style="padding-top: 0.4em; text-align: center; padding-bottom: 0.4em; cursor: pointer">
    <p>Cancel</p>
</div>

</div>