<div style="position: absolute; left: 2%; top: 66%; border-style:solid; background-color: white; width:16em; height:16em; display: flex;
flex-direction: column; font-size:1em; border-radius: 1em;">

    <div class="hoverableElement" style="display: flex; width: 85%; align-items: center; justify-content: start; gap: 1em; cursor: pointer; padding-left: 1em; margin-left:1em;
    border-radius:8px;">
        <img src="settingsIcon.png" style="object-fit: contain; height:1.5em; width: 1.5em;">
        <p>Settings</p>
    </div>
    <div class="hoverableElement" style="display: flex; width: 85%; align-items: center; justify-content: start; gap: 1em; cursor: pointer; padding-left: 1em; margin-left:1em;
    border-radius:8px">
        <img src="yourActivityIcon.png" style="object-fit: contain; height:1.5em; width: 1.5em;">
        <p>Your Activity</p>
    </div>
    <div class="hoverableElement" style="display: flex; width: 85%; align-items: center; justify-content: start; gap: 1em; cursor: pointer; padding-left: 1em; margin-left:1em;
    border-radius:8px">
        <img src="saveIcon.png" style="object-fit: contain; height:1.5em; width: 1.5em;">
        <p>Saved</p>
    </div>
    <div style="background-color: lightgray; height: 5%; width:100%;">
    </div>
    <div class="hoverableElement" style="display: flex; width: 85%; align-items: center; justify-content: start; gap: 1em; cursor: pointer; padding-left: 1em; margin-left:1em;
    border-radius:8px">
        <p>Switch Accounts</p>
    </div>
    <div class="hoverableElement" style="display: flex; width: 85%; align-items: center; justify-content: start; gap: 1em; cursor: pointer; padding-left: 1em; margin-left:1em;
    border-radius:8px">
        <p>Log out</p>
    </div>
</div>>