<div style="position: absolute; left:27.3%; top:0%; width: 72.6%; height: 100%; display: flex; flex-direction: column;
justify-content: center; align-items: center;">

<img src="yourMessagesIcon.png" style="height: 8em; width: 8em; pointer-events: none; object-fit: contain; margin-bottom: -1em;">
<p style="font-size:1.3em; font-weight: semibold; margin-bottom:0em;">Your Messages</p>
<p style="color: gray">Send a message to start a chat.</p>
<button type="button" class="blueButton">Send message</button>

</div>