<div *ngIf="isExpanded" style="border-style:solid; position: absolute; left: 4.5%; top: 0%; width:19%; height: 100%; overflow-y: scroll;
border-left: none; border-top: none; border-bottom: none; border-color: lightgray; border-width: 1px; display: flex;
flex-direction: column; padding-left: 2em; padding-right: 2em;">

<div style="display: flex; align-items: center; margin-top: 2em; position: relative; width: 100%;">
<b (click)="takeUserToLogin()" style="font-size: 1.4em; cursor: pointer;">rishavry</b>
<img (click)="toggleExpansion()" src="dropdownV.png" style="cursor: pointer; height: 1.4em; width: 1.4em; margin-left: 0.5em; object-fit: contain;">
<img (click)="showNewMessagePopup()" src="sendNewMessageIcon.png" style="cursor: pointer; height: 2.4em; width: 2.4em; object-fit: contain; position: absolute;
top: -20%; left: 90%;">
</div>

<div style="display: flex; margin-top: 1em; width: 100%; height: 14%; align-items: center; gap:1.7em;">
<Note (notifyParentToCreateNewNote)="showCreateNewNote()" (notifyParentToShowNoteSection)="handleShowNoteSectionNotfication($event)"></Note>
<Note [isOwnAccount]="false" [noteText]="'First note!'" [username]="'rishavry2'" [fullName]="'Rishav Ray2'" (notifyParentToCreateNewNote)="showCreateNewNote()" (notifyParentToShowNoteSection)="handleShowNoteSectionNotfication($event)"
(notifyParentToSendNoteReply)="tellParentToSendNoteReply($event)"></Note>
<Note [isOwnAccount]="false" [noteText]="'Second note!'" [username]="'rishavry3'" [fullName]="'Rishav Ray3'" (notifyParentToCreateNewNote)="showCreateNewNote()" (notifyParentToShowNoteSection)="handleShowNoteSectionNotfication($event)"
(notifyParentToSendNoteReply)="tellParentToSendNoteReply($event)"></Note>
<Note [isOwnAccount]="false" [noteText]="'Third note!'" [username]="'rishavry4'" [fullName]="'Rishav Ray4'" (notifyParentToCreateNewNote)="showCreateNewNote()" (notifyParentToShowNoteSection)="handleShowNoteSectionNotfication($event)"
(notifyParentToSendNoteReply)="tellParentToSendNoteReply($event)"></Note>
<Note [isOwnAccount]="false" [noteText]="'Fourth note!'" [username]="'rishavry5'" [fullName]="'Rishav Ray5'" (notifyParentToCreateNewNote)="showCreateNewNote()" (notifyParentToShowNoteSection)="handleShowNoteSectionNotfication($event)"
(notifyParentToSendNoteReply)="tellParentToSendNoteReply($event)"></Note>
</div>

<div style="display: flex; align-items: center; width:100%; margin-top: 3em; position: relative;">
<b>Messages</b>
<p (click)="showListOfMessageRequestsSection()" style="font-size:0.9em; color: gray; cursor:pointer; position: absolute; left: 80%; top:-65%; font-weight:600">Requests</p>
</div>

<br/>

<div *ngFor="let convo of listOfConvos; let i = index;">
    <Convo [lastMessageId]="convo[0]"
        [username]="convo[1]"
        [fullName]="convo[2]"
        [hasUnreadMessage]="convo[3]"
        [isMuted]="convo[4]"
        [convoIndex]="i"
        [isSelected]="i==selectedConvo"
        (notifyParentOfSelectedConvo)="updateSelectedConvo($event)"
        (notifyParentToShowMessagesOfThisConvo)="showMessagesOfConvo($event)"
        [membersOfGroupChatBesidesInitator]="convo[5]"
        (notifyParentToShowMessagesOfThisGroupConvo)="showMessagesOfThisGroupConvo($event)"
        [convoTitle]="convo[6]"
        >
    </Convo>
    <br/>
</div>

</div>

<div *ngIf="!isExpanded" style="border-style:solid; position: absolute; left: 4.5%; top: 0%; width:1em; height: 100%;
border-left: none; border-top: none; border-bottom: none; border-color: lightgray; border-width: 1px; display: flex;
justify-content: center; padding-top:1em;">
    <img *ngIf="!isExpanded" (click)="toggleExpansion()" src="upArrow.webp" style="cursor: pointer; height: 1.4em; width: 1.4em; object-fit: contain;">
</div>