<div [ngStyle]="getStyleBasedOnPopups()">

<LeftSidebar></LeftSidebar>

<NotesAndConvosSection *ngIf="!displayListOfMessageRequestsSection" (notifyParentToCreateNewNote)="handleShowCreateNewNoteNotification()" (notifyParentToShowNoteSection)="handleShowNoteSectionNotification($event)"
(notifyParentToShowMessagesOfThisConvo)="showMessagesOfConvo($event)" (notifyParentToShowNewMessagePopup)="displayNewMessagePopup()"
(emitListOfConvosToParent)="receiveListOfConvos($event)" (notifyExpansionToParent)="updateExpansionOfMessagesOfAChat($event)"
(notifyParentToShowListOfMessageRequestsSection)="showListOfMessageRequestsSection()"></NotesAndConvosSection>

<MessagesOfAChat *ngIf="showMessagesOfAChat" [authenticatedUsername]="authenticatedUsername" [messageRecipientInfo]="messageRecipientInfo"
(notifyParentToShowMessageReactions)="showMessageReactions($event)" (notifyParentToShowNewMessagePopup)="displayNewMessagePopup()"
(notifyParentToUpdateLatestMessageInConvo)="updateLatestMessageInConvo($event)"
(notifyParentToDeleteConvo)="deleteConvo($event)" [messagesOfAChatIsExpanded]="messagesOfAChatIsExpanded"
(notifyParentToToggleConvoDetailsPanel)="toggleConvoDetails()"
(notifyParentToShowForwardMessagePopup)="showForwardMessagePopup($event)"
(emitDataToParent)="receiveMessageData($event)" [convoDetailsPanelIsExpanded]="showConvoDetailsPanel"
(notifyParentToShowForwardFilePopup)="showForwardFilePopup($event)"></MessagesOfAChat>

<CreateNewNote *ngIf="showCreateNewNote" (notifyParentOfExit)="handleExitCreateNewNoteNotification()"></CreateNewNote>

<NoteSection *ngIf="showNoteSection" [username]="noteSectionUsername" [isOwnAccount]="noteSectionIsOwnAccount" (notifyParentToExitNoteSection)="exitNoteSection()"></NoteSection>

<MessageReactionsPopup *ngIf="showMessageReactionsPopup" [messageReactionsInfo]="messageReactionsInfo"
(notifyParentToExitMessageReactionsPopup)="closeMessageReactionsPopup()" [authenticatedUsername]="authenticatedUsername"></MessageReactionsPopup>

<ConvoDetailsPanel *ngIf="showConvoDetailsPanel" [messageRecipientInfo]="messageRecipientInfo"
(notifyParentToShowDeleteChatPopup)="showDeleteChatPopup()" (notifyParentToShowBlockUserPopup)="showBlockUserPopup()"
(toggleMutedMessageIconInConvo)="toggleMutedMessageIconInConvo()"
[convoIsRequested]="convoIsRequested"></ConvoDetailsPanel>

<ListOfMessageRequestsSection *ngIf="displayListOfMessageRequestsSection"
(notifyExpansionToParent)="updateExpansionOfRequestedMessagesOfAChat($event)"
(notifyParentToCloseSection)="closeListOfMessageRequestsSection()"
(notifyParentToShowMessagesOfThisRequestedConvo)="showMessagesOfRequestedConvo($event)"
(emitListOfRequestedConvosToParent)="receiveListOfRequestedConvos($event)"></ListOfMessageRequestsSection>

<RequestedMessagesOfAChat *ngIf="displayListOfMessageRequestsSection" [messageRecipientInfo]="messageRecipientInfo"
[isExpanded]="requestedMessagesOfAChatIsExpanded" [convoDetailsPanelIsExpanded]="showConvoDetailsPanel"
(notifyParentToToggleConvoDetailsPanel)="toggleRequestedConvoDetails()"
(notifyParentToDeleteRequestedConvo)="deleteRequestedConvo()"></RequestedMessagesOfAChat>

</div>

<NewMessagePopup *ngIf="showNewMessagePopup" (notifyParentToExitNewMessagePopup)="closeNewMessagePopup()"
(notifyParentToStartMessagingSelectedUsers)="startMessagingSelectedUsers($event)"
[isForwarding]="isForwarding" [messageToForward]="messageToForward"
(notifyParentToForwardMessageToSelectedUsers)="forwardMessageToSelectedUsers($event)"
[convoMembersOfForwardedMessage]="[messageRecipientInfo]" [fileToForward]="fileToForward"
(notifyParentToForwardFileToSelectedUsers)="forwardFileToSelectedUsers($event)"></NewMessagePopup>


<DeleteChatPopup *ngIf="displayDeleteChatPopup" [messageRecipientInfo]="messageRecipientInfo"
(notifyParentToCancelDeleteChat)="cancelDeleteChat()" (notifyParentToDeleteChat)="deleteChat()"></DeleteChatPopup>

<BlockUserPopup *ngIf="displayBlockUserPopup" [messageRecipientInfo]="messageRecipientInfo"
(notifyParentToCancelBlock)="cancelBlockUser()" (notifyParentToBlockUser)="blockUser()"></BlockUserPopup>


