<div [ngStyle]="getStyleBasedOnPopups()">

    <LeftSidebar [numberOfAcceptedConvosWithUnreadMessage]="numberOfAcceptedConvosWithUnreadMessage"></LeftSidebar>
    
    <NotesAndConvosSection [authenticatedUsername]="authenticatedUsername" (notifyParentToCreateNewNote)="handleShowCreateNewNoteNotification()" (notifyParentToShowNoteSection)="handleShowNoteSectionNotification($event)"
    (notifyParentToShowMessagesOfThisConvo)="showMessagesOfConvo($event)" (notifyParentToShowNewMessagePopup)="displayNewMessagePopup()"
    (emitListOfConvosToParent)="receiveListOfConvos($event)" (notifyExpansionToParent)="updateExpansionOfMessagesOfAChat($event)"
    (notifyParentToShowListOfMessageRequestsSection)="showListOfMessageRequestsSection()"
    [ngStyle]="messagesDynamicStyle()" (notifyParentToShowMessagesOfThisGroupConvo)="showMessagesOfThisGroupConvo($event)"
    (notifyParentOfSelectedConvo)="updateSelectedConvo($event)"
    (notifyParentToSendNoteReply)="sendNoteReply($event)" (emitUserBlockingsToParent)="receiveUserBlockings($event)"
    (emitUserFollowingsToParent)="receiveUserFollowings($event)" [socket]="socket"
    (notifyParentToUpdateConvoInfo)="updateConvoInfo($event)"
    (notifyParentToUpdateNumberOfAcceptedConvosWithUnreadMessage)="updateNumberOfAcceptedConvosWithUnreadMessage($event)"
    (emitConvoSessionKeysToParent)="receiveConvoSessionKeys($event)"></NotesAndConvosSection>
    
    <MessagesOfAChat [hasConvoBeenAdded]="hasSelectedConvoBeenAdded" *ngIf="showMessagesOfAChat" [authenticatedUsername]="authenticatedUsername" [messageRecipientInfo]="messageRecipientInfo"
    (notifyParentToShowMessageReactions)="showMessageReactions($event)" (notifyParentToShowNewMessagePopup)="displayNewMessagePopup()"
    (notifyParentToUpdateLatestMessageInConvo)="updateLatestMessageInConvo($event)"
    (notifyParentToDeleteConvo)="deleteConvo($event)" [messagesOfAChatIsExpanded]="messagesOfAChatIsExpanded"
    (notifyParentToToggleConvoDetailsPanel)="toggleConvoDetails()"
    (notifyParentToShowForwardMessagePopup)="showForwardMessagePopup($event)"
    (emitDataToParent)="receiveMessageData($event)" [convoDetailsPanelIsExpanded]="showConvoDetailsPanel"
    (notifyParentToShowForwardFilePopup)="showForwardFilePopup($event)"
    [isRequestingConvoWithRecipient]="isRequestingConvoWithRecipient"
    [groupMessageRecipientsInfo]="groupMessageRecipientsInfo"
    [convoTitle]="selectedConvoTitle" (notifyParentToUpdateConvoTitle)="updateConvoTitle($event)"
    [blockedUsernames]="userBlockings" [promotedUsernames]="selectedConvoPromotedUsernames"
    [convoId]="selectedConvoId" (notifyParentToAddConvoToDatabase)="addConvoToDatabase($event)"
    [selectedConvoInitator]="selectedConvoInitator" [authenticatedFullName]="authenticatedFullName"
    (notifyParentToShowDeleteMessagePopup)="showDeleteMessagePopup($event)" [socket]="socket"
    (notifyParentToEditConvoHasUnreadMessage)="editConvoHasUnreadMessageAfterSendingMessage()"
    [doesSelectedConvoHaveUnreadMessage]="doesSelectedConvoHaveUnreadMessage"
    (notifyParentToUpdateUnreadMessageToRead)="editSelectedConvoHasUnreadMessageAfterSeeingMessage()"
    [isAuthenticatedUserActive]="isActive" [selectedConvoMembers]="membersOfSelectedConvo"
    [selectedConvoUnreadMessageList]="selectedConvoUnreadMessageList" [seenText]="latestMessageOfSelectedConvoHasBeenSeenText"
    [messagesSectionHasBeenUpdated]="messagesSectionHasBeenUpdated"  [messagesSectionHasBeenUpdated2]="messagesSectionHasBeenUpdated2"
    (notifyParentToSetMessageSectionHasBeenUpdatedToFalse)="setMessageSectionHasBeenUpdatedToFalse()"
    (notifyParentToSetMessageSectionHasBeenUpdated2ToFalse)="setMessageSectionHasBeenUpdated2ToFalse()"
    [convoSessionKeys]="convoSessionKeys"
    ></MessagesOfAChat>
    
    <CreateNewNote *ngIf="showCreateNewNote" (notifyParentOfExit)="handleExitCreateNewNoteNotification()"
    [listOfNotes1ForUser]="listOfNotes1ForUser" [authenticatedUsername]="authenticatedUsername"></CreateNewNote>
    
    <NoteSection [ngStyle]="noteSectionDynamicStyle()" [username]="noteSectionUsername" [fullName]="noteSectionFullName" [isOwnAccount]="noteSectionIsOwnAccount" (notifyParentToExitNoteSection)="exitNoteSection()"
    (emitDataToParent)="receiveListOfNotes1ForUser($event)" [authenticatedUsername]="authenticatedUsername"
    (notifyParentToSendNoteReply)="sendNoteReply($event)"></NoteSection>
    
    <ConvoDetailsPanel *ngIf="showConvoDetailsPanel" [messageRecipientInfo]="messageRecipientInfo"
    (notifyParentToShowDeleteChatPopup)="showDeleteChatPopup()" (notifyParentToShowBlockUserPopup)="showBlockUserPopup()"
    (toggleMutedMessageIconInConvo)="toggleMutedMessageIconInConvo()"
    [convoIsRequested]="convoIsRequested" [groupMessageRecipientsInfo]="groupMessageRecipientsInfo"
    [authenticatedUsername]="authenticatedUsername"
    [messages]="messageData[0]" (notifyParentToShowLeaveGroupPopup)="showLeaveGroupPopup()"
    (notifyParentToShowAddMemberPopup)="showAddMembersPopup()" (notifyParentToShowUserSettingsPopup)="showUserSettingsPopup($event)"
    [blockedUsernames]="userBlockings" [promotedUsernames]="selectedConvoPromotedUsernames"
    (notifyParentToShowPromoteUserPopup)="showPromoteUserPopup()"
    (notifyParentToDemoteUser)="demoteNonGroupConvoUserFromConvoDetails()" [isRequestedConvosSectionDisplayed]="displayListOfMessageRequestsSection"
    [messagesAreMuted]="isSelectedConvoMuted" [selectedConvoInitator]="selectedConvoInitator"
    [membersOfSelectedConvo]="membersOfSelectedConvo" [isRequestedOfSelectedConvo]="isRequestedOfSelectedConvo"
    [socket]="socket"></ConvoDetailsPanel>
    
    <ListOfMessageRequestsSection [authenticatedUsername]="authenticatedUsername"
    (notifyExpansionToParent)="updateExpansionOfRequestedMessagesOfAChat($event)"
    (notifyParentToCloseSection)="closeListOfMessageRequestsSection()"
    (notifyParentToShowMessagesOfThisRequestedConvo)="showMessagesOfRequestedConvo($event)"
    (emitListOfRequestedConvosToParent)="receiveListOfRequestedConvos($event)"
    [ngStyle]="messageRequestsDynamicStyle()" (notifyParentToShowMessagesOfThisRequestedGroupConvo)="showMessagesOfRequestedGroupConvo($event)"
    (notifyParentOfSelectedConvo)="updateSelectedConvo($event)" (notifyParentToDeleteAllRequestedConvos)="deleteAllRequestedConvos()"></ListOfMessageRequestsSection>
    
    <RequestedMessagesOfAChat [messageRecipientInfo]="messageRecipientInfo"
    [isExpanded]="requestedMessagesOfAChatIsExpanded" [convoDetailsPanelIsExpanded]="showConvoDetailsPanel"
    (notifyParentToToggleConvoDetailsPanel)="toggleRequestedConvoDetails()"
    (notifyParentToDeleteRequestedConvo)="deleteRequestedConvo()" [authenticatedUsername]="authenticatedUsername"
    (notifyParentToAcceptRequestedConvo)="acceptRequestedConvo()" [ngStyle]="messageRequestsDynamicStyle()"
    [groupMessageRecipientsInfo]="groupMessageRecipientsInfo" [convoTitle]="selectedConvoTitle"
    (emitDataToParent)="receiveRequestedMessageData($event)"  (notifyParentToShowMessageReactions)="showMessageReactions($event)"
    (notifyParentToBlockUsersOfRequestedConvo)="blockUsersFromRequestedConvo()"></RequestedMessagesOfAChat>
    
</div>
    
    <NewMessagePopup *ngIf="showNewMessagePopup" (notifyParentToExitNewMessagePopup)="closeNewMessagePopup()"
    (notifyParentToStartMessagingSelectedUsers)="startMessagingSelectedUsers($event)"
    [isForwarding]="isForwarding" [messageToForward]="messageToForward"
    (notifyParentToForwardMessageToSelectedUsers)="forwardMessageToSelectedUsers($event)"
    [convoMemberOfForwardedMessage]="[messageRecipientInfo]" [convoMembersOfForwardedMessage]="groupMessageRecipientsInfo" [fileToForward]="fileToForward"
    (notifyParentToForwardFileToSelectedUsers)="forwardFileToSelectedUsers($event)"
    [isAddingNewMembers]="isAddingNewMembers" (notifyParentToAddNewMemberToConvo)="addNewMemberToConvo($event)"
    [blockedUsernames]="userBlockings"></NewMessagePopup>
    
    <MessageReactionsPopup *ngIf="showMessageReactionsPopup" [messageReactionsInfo]="messageReactionsInfo"
    (notifyParentToExitMessageReactionsPopup)="closeMessageReactionsPopup()" [authenticatedUsername]="authenticatedUsername"
    [blockedUsernames]="userBlockings" [convoId]="selectedConvoId"></MessageReactionsPopup>
    
    <DeleteChatPopup *ngIf="displayDeleteChatPopup" [messageRecipientInfo]="messageRecipientInfo"
    (notifyParentToCancelDeleteChat)="cancelDeleteChat()" (notifyParentToDeleteChat)="deleteChat()"></DeleteChatPopup>
    
    <BlockUserPopup *ngIf="displayBlockUserPopup" [messageRecipientInfo]="messageRecipientInfo"
    (notifyParentToCancelBlock)="cancelBlockUser()" (notifyParentToBlockUser)="blockUser()"></BlockUserPopup>

    <LeaveGroupPopup *ngIf="displayLeaveGroupPopup" (notifyParentToLeaveGroup)="leaveGroup()"
    (notifyParentToCancelLeaveGroup)="cancelLeaveGroup()"></LeaveGroupPopup>
    
    <UserSettingsPopup *ngIf="displayUserSettingsPopup" [messageMember]="userSettingsPopupGroupMessageMember"
    (notifyParentToClosePopup)="closeUserSettingsPopup()" (notifyParentToRemoveUserFromConvo)="removeMemberFromConvo()"
    (notifyParentToBlockUser)="blockUserFromUserSettingsPopup()" [blockedUsernames]="userBlockings"
    (notifyParentToUnblockUser)="unblockUserFromUserSettingsPopup()"
    (notifyParentToPromoteUser)="promoteUserFromSettingsPopup()" [promotedUsernames]="selectedConvoPromotedUsernames"
    (notifyParentToDemoteUser)="demoteUserFromSettingsPopup()"
    [groupMessageRecipientsInfo]="groupMessageRecipientsInfo"></UserSettingsPopup>

    <PromoteUserPopup *ngIf="displayPromoteUserPopup" (notifyParentToCancelPromoteUser)="closePromoteUserPopup()"
    [messageRecipientInfo]="messageRecipientInfo" (notifyParentToPromoteUser)="promoteUserFromPromoteUserPopup()"></PromoteUserPopup>

    <DeleteMessagePopup *ngIf="displayDeleteMessagePopup" (notifyParentToCancelDeleteMessage)="cancelDeleteMessagePopup()"
    (notifyParentToDeleteMessage)="deleteMessageFromDeleteMessagePopup()"></DeleteMessagePopup>

    <MessageNotification *ngIf="displayMessageNotification" (notifyParentToCloseMessageNotification)="closeMessageNotification()"
    [messageSender]="messageNotificationSender" [message]="messageNotificationMessage" [convoId]="messageNotificationConvoId"
    (notifyParentToGoToConvo)="goToConvo($event)"></MessageNotification>